.body{
    background-color: #808283;
}

.cabecera{
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.contenedor{
    padding: 2rem;
    width: 50%;
}

.titulo{
    padding: 1rem;
}

.boton{
    padding: 3rem;
}

.titulos-tabla{
    font-weight: bold;
}