.body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.contenedor {
    background-color: #e3e4e5ea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_cabecera {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding: 1rem;
}

.contenedor_tabla {
    padding: 2rem;
    width: 70%;
}

.contenedor_tabla p {
    font-size: 2rem;
    text-decoration: underline;
}

.boton {
    padding: 3rem;
}

.titulos-tabla {
    font-weight: bold;
}